@model List<Products>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<style>
    .imagee-container {
        overflow: hidden;
        width: 515px;
        height: 450px;
    }

    .resimm {
        transition: transform 1.5s ease;
    }

    .imagee-container:hover .resimm {
        transform: scale(1.3);
    }
</style>

<section class="content">

   @foreach(var item in Model)
   {
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3 class="d-inline-block d-sm-none"></h3>
                    <div class="col-12">
                            <div class="imagee-container">
                                
                                    <img href="Home/Index" alt="Resim" class="resimm" src="~/images/@item.Photo">
                                
                            </div>
                    </div>
                    
                </div>
                <div class="col-12 col-sm-6">
                    <h3 class="my-3">@item.Title</h3>
                        @if (item.Categoryid == 1)
                        {
                            <p style="color: black;">Küçük Ev Aletleri</p>
                        }
                        else if (item.Categoryid == 2)
                        {
                            <p style="color: black;">Elektronik</p>
                        }
                        else if (item.Categoryid == 3)
                        {
                            <p style="color: black;">Beyaz Eşya</p>
                        }
                        else if (item.Categoryid == 4)
                        {
                            <p style="color: black;">Isıtma ve Soğutma</p>
                        }
                    
                    <p>@item.Details</p>
                   

                    <hr>

                    <div>
                        <h2 class="mb-0">
                            @item.Price TL
                        </h2>
                        <h4 class="mt-0">
                            <small>Taksit Seçeneğimiz Yoktur </small>
                        </h4>
                    </div>

                    
                    <br />

                    <div class="mt-4">
                        <div class="btn btn-primary btn-lg btn-flat">
                            <i class="fas fa-cart-plus fa-lg mr-2" style="margin-top:1px"></i>
                            Sepete Ekle
                            
                         </div> 
                         
                        <div class="btn btn-default btn-lg btn-flat">
                                <button class="btn btn-danger toastsDefaultDanger"></button>
                            İstek Listesine Ekle
                        </div>
                    </div>

                    <div class="mt-4 product-share">
                        <a href="#" class="text-gray">
                            <i class="fab fa-facebook-square fa-2x"></i>
                        </a>
                        <a href="#" class="text-gray">
                            <i class="fab fa-twitter-square fa-2x"></i>
                        </a>
                        <a href="#" class="text-gray">
                            <i class="fas fa-envelope-square fa-2x"></i>
                        </a>
                        <a href="#" class="text-gray">
                            <i class="fas fa-rss-square fa-2x"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="row mt-4">
                <nav class="w-100">
                    <div class="nav nav-tabs" id="product-tab" role="tablist">
                        <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Ürün Açıklaması</a>
                        <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">EKLENECEK</a>
                            <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">EKLENECEK</a>
                    </div>
                </nav>
                <div class="tab-content p-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab"> @item.ProductDetails</div>
                   <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab"> Vivamus rhoncus nisl sed venenatis luctus. Sed condimentum risus ut tortor feugiat laoreet. Suspendisse potenti. Donec et finibus sem, ut commodo lectus. Cras eget neque dignissim, placerat orci interdum, venenatis odio. Nulla turpis elit, consequat eu eros ac, consectetur fringilla urna. Duis gravida ex pulvinar mauris ornare, eget porttitor enim vulputate. Mauris hendrerit, massa nec aliquam cursus, ex elit euismod lorem, vehicula rhoncus nisl dui sit amet eros. Nulla turpis lorem, dignissim a sapien eget, ultrices venenatis dolor. Curabitur vel turpis at magna elementum hendrerit vel id dui. Curabitur a ex ullamcorper, ornare velit vel, tincidunt ipsum. </div>
                    <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab"> Cras ut ipsum ornare, aliquam ipsum non, posuere elit. In hac habitasse platea dictumst. Aenean elementum leo augue, id fermentum risus efficitur vel. Nulla iaculis malesuada scelerisque. Praesent vel ipsum felis. Ut molestie, purus aliquam placerat sollicitudin, mi ligula euismod neque, non bibendum nibh neque et erat. Etiam dignissim aliquam ligula, aliquet feugiat nibh rhoncus ut. Aliquam efficitur lacinia lacinia. Morbi ac molestie lectus, vitae hendrerit nisl. Nullam metus odio, malesuada in vehicula at, consectetur nec justo. Quisque suscipit odio velit, at accumsan urna vestibulum a. Proin dictum, urna ut varius consectetur, sapien justo porta lectus, at mollis nisi orci et nulla. Donec pellentesque tortor vel nisl commodo ullamcorper. Donec varius massa at semper posuere. Integer finibus orci vitae vehicula placerat. </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    }

</section>