@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<head>

    <title>Beyaz Evim | Hakkımızda</title>


</head>

<div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
        <h1 style="font-family:'Times New Roman', Times, serif; text-align:center" > 
            BİZİ TANIYIN
        </h1>
    </div>
    <div class="col-2">

    </div>
</div>
<div class="callout callout-info">
    <h2><i class="fas fa-info"></i>  Hakkımızda</h2>
    En yeni ve kaliteli beyaz eşyalar için doğru adres! Web sitemizde, evinizin ihtiyaçlarını karşılayacak geniş bir ürün yelpazesi sunuyoruz.
    Enerji tasarruflu buzdolapları, yüksek performanslı çamaşır makineleri, şık ve modern bulaşık makineleri gibi birçok seçenekle,
    yaşam alanlarınızı daha konforlu ve verimli hale getiriyoruz. Kullanıcı dostu arayüzümüz sayesinde aradığınız ürünü kolayca bulabilir,
    güvenli ödeme seçeneklerimizle alışverişinizi rahatça tamamlayabilirsiniz.
    Ayrıca, cazip kampanyalar ve indirimlerle bütçenize dost çözümler sunuyoruz.
    Hayalinizdeki beyaz eşyalara hemen şimdi göz atın ve evinizi yenilemeye başlayın!
</div>

<div class="invoice p-3 mb-3">
    <!-- title row -->
    <div class="row">
        <div class="col-12">
            <h4>
                <i class="fas fa-globe"></i> BeyazEvim
                <small class="float-right">Tarih: @DateTime.Now.Year </small>
            </h4>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            From
            <address>
                <strong>BeyazEvim</strong><br>
                ÇÜ Bilgisayar müh. Balcalı Sarıçam Adana, <br>
                01330 Sarıçam/Adana<br>
                Phone: (804) 123-5432<br>
                E-mail: info@beyazevim.com
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            To
            <address>
                <strong>Mehmet Sarıgül</strong><br>
                ÇÜ Bilgisayar müh. Balcalı Sarıçam Adana,<br>
                01330 Sarıçam/Adana<br>
                Phone: (555) 539-1037<br>
                E-mail: mehmetsarıgül@gmail.com
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>Fatura Adresi</b><br>
            <br>
            <b>Sipariş Kimliği:</b> 4F3S8J<br>
            <b>Son Ödeme Tarihi:</b> 2/22/2014<br>
            <b>Vergi No:</b> 968-34567
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row">
        
        <div>
            <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48152.69528633698!2d29.01271007818618!3d41.035243200158526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac826d524c9f1%3A0xc14f7612337b7f38!2zw5xza8O8ZGFyL8Swc3RhbmJ1bA!5e0!3m2!1str!2str!4v1519733547760" width="1215" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </p>
        </div>
        
     
        <!-- /.col -->
    </div>
    <!-- /.row -->

   